{% extends 'base.html' %}
{% load static %} 

{% block content %}

    <body class="hold-transition login-page">
<div class="login-box">
 
  <!-- /.login-logo -->
  <div class="card">
    <div class="login-logo" style="margin-top:30px;">
      <a href="{% url 'login' %}"> <img src="{% static 'img/logo.png' %}" height="80px"  /> </a>  
    </div>
    <div class="card-body login-card-body">
      <p class="login-box-msg">KISII UNIVERSITY STAFF PORTAL</p>


      {% comment %} Display Messages {% endcomment %}
      {% if messages %}
      <div class="col-12">
        {% for message in messages %}
          {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}


      <form action="{% url 'doLogin' %}" method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Registration/Employee Number" name="email" required />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password" required />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
            
    

          <div class="col-12" >
            <button type="submit" class="btn btn-primary btn-block" style="background-color: #228B22;">Sign In</button>
          </div>

        <div class="col-12 text-center" style="margin:20px;">
            <a href="{% url 'login' %}"><p class="" style="text-color: #696969; "> Forgot your password ? </p> </a>
          </div>  


          <!-- /.col -->
        </div>
      </form>


  </div>
</div>
<!-- /.login-box -->

{% endblock %}